* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f6fa;
}


.dashboard {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.sidebar-logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.sidebar-logo img {
    padding-left: 20px;
    width: 60px;
    
}
.sidebar{
    background-color: white;
   
}
.logo-text {
    font-size: 22px;
    font-weight: 700;
    color: #5801aa;
}

.sidebar-menu a {
    display: block;
    width: 93%;
    margin: 0 auto;
    padding: 10px 12px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar-menu a.active,
.sidebar-menu a:hover {
    background: #f3e9ff;
    color: #7b2cbf;
    font-weight: 600;
}


.sidebar-menu i {
    width: 20px;
    font-size: 16px;
    text-align: center;
}

.sidebar-menu a.active,
.sidebar-menu a:hover {
    background: #f3e9ff;
    color: #7b2cbf;
    font-weight: 600;
}
.sidebar-menu a {
    padding-left: 16px;
}

.sidebar-footer {
    margin-top: auto;
    padding-top: 20px;
    color: red;
    cursor: pointer;
}


.sidebar-footer {
    margin-top: auto; 
    padding: 20px 0;
}


.logout {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 93%;
    margin: 0 auto;
    padding: 10px 14px;
    border-radius: 10px;
    color: #e63946;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s ease;
}

.logout i {
    width: 20px;
    text-align: center;
}

.logout:hover {
    background: #ffe5e8;
    width: 93%;
}


.menu a {
    padding: 12px;
    color: #777;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.menu a.active,
.menu a:hover {
    background: #f3e9ff;
    color: #7b2cbf;
    font-weight: 600;
    width: 93%;
}
   



.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.search-container {
    flex: 1;
    max-width: 500px;
    display: flex;
    margin: 0 auto; 
}

.search-container input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.search-container button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 25px 25px 0;
    background-color: #9228DA; 
    color: #fff;
    cursor: pointer;
}

.avatar-container {
    margin-left: 20px;
}

.avatar-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content {
    padding: 25px;
}


.btn-primary {
    background: #7b2cbf;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-edit {
    background: #ffb703;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-delete {
    background: #e63946;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.table {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.avatar-sm {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}


.activo {
    color: green;
    font-weight: 600;
}

.inactivo {
    color: red;
    font-weight: 600;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    width: 420px;
    padding: 25px;
    border-radius: 14px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer;
    font-size: 22px;
}

.modal-content h3 {
    text-align: center;
    margin-bottom: 15px;
}

.modal-content label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
}




.img-categoria {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}


.img-subcategoria {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.img-subsubcategoria {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.img-producto {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}


